{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended",
    "airbnb",
    "airbnb-typescript"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "@typescript-eslint/comma-dangle": 0,
    "@typescript-eslint/semi": 0,
    "eol-last": 0,
    "curly": ["error", "multi"],
    "@typescript-eslint/no-explicit-any": 0,
    "arrow-parens": ["error", "as-needed"],
    "no-console": "off",
    "import/no-unresolved": "off",
    "sort-imports": 0,
    "import/named": 0,
    "import/extensions": 0,
    "react/require-default-props": 0
  },
  "plugins": ["react", "jsx-a11y"],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}